/************************************\
			   BASE
\************************************/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

//Susy Maps
$susy: (
	columns: 12,
	gutters: 2/3,
	math: fluid,
	gutter-position: after,
	debug: (
		image: hide,
		color: rgba(0,0,0, 0.25),
		output: overlay,
		toggle: top right,
	),
);

html {
	min-width: 320px;
	height: 100%;
}

body {
	@include position(relative);
	float: left;
	color: $grey-3;
	font-family: $font-family-1;
	font-weight: $font-light;
	background-color: $white;
	overflow-x: hidden;
	width: 100%;
	min-height: 100%;
}

section {
	@include position(relative);
	float: left;
	width: 100%;
	@include padding($box-spacing-md 0);
	@include breakpoint($mobile-md) {
		@include padding(3rem 0)
	}
	@include breakpoint($laptop) {
		@include padding(3rem 0)
	}
}

.sidebar {
	position: relative;
	float: left;
	@include padding(1rem 0 1.5rem 0);
	margin-bottom: 0;
	@include bleed-x(6% 6%);
	@include breakpoint($laptop) {
		@include padding(1rem 1.25rem 1.5rem 1.25rem);
		margin-bottom: 1.5rem;
		width: 355px;
		@include last;
		border-radius: 1.75rem 0 1.75rem 0;
	}
	@include breakpoint(1140px) {
		margin-right: 4.5rem;
	}
	@include breakpoint(1200px) {
		margin-right: 0rem;
	}
	@include breakpoint($desktop) {
		margin-right: 0rem;
	}
}

footer {
	@include position(relative);
	width: 100%;
	float: left;
}

/************************************\
			   HEADER
\************************************/

.header {
	position: relative;
	overflow: hidden;
	transition: 0.3s all;
	z-index: 500;
	@include breakpoint($laptop) {
		background-color: $white;
		// @include position(absolute, 0 0 null 0);
	}
	#header-logo {
		width: 10rem;
		float: left;
		@include margin(0.75rem 0 0 0);
		@include breakpoint($laptop) {
			@include size(175px auto);
		}
		@include breakpoint($desktop) {
			@include margin(1.2rem 0 0 0);
			@include size(220px auto);
		}
	}
}


/************************************\
			 HERO CONTENT
\************************************/

#hero-home {
	@include padding(0);
	background-image: url('../media/img/hero_bg_480.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@include breakpoint($tablet) {
		background-image: url('../media/img/hero_bg_768.jpg');
		background-position: 25% center;
	}
	@include breakpoint($laptop) {
		background-image: url('../media/img/hero_bg_1024.jpg');
	}
	@include breakpoint($desktop) {
		background-image: url('../media/img/hero_bg_1440.jpg');
		background-position: 25% center;
	}
	@include breakpoint(1700px) {
		background-image: url('../media/img/hero_bg_1720.jpg');
	}
}

.hero {
	position: relative;
	@include margin(12.375rem 0 1.1875rem 0);
	text-align: center;
	@include breakpoint($mobile-md) {
		margin-top: 15rem;
	}
	@include breakpoint($mobile-lg) {
		margin-top: 19rem;
	}
	@include breakpoint($tablet) {
		margin-top: 21rem;
	}
	@include breakpoint($laptop) {
		margin-top: 23rem;
	}
	@include breakpoint($desktop) {
		@include margin(25rem 0 2rem 0);
	}
	@include breakpoint($desktop-xl) {
		@include margin(27rem 0 2rem 0);
	}
}


/************************************\
			  WELCOME
\************************************/

#welcome {
	padding-bottom: 0;
}

/************************************\
			   HIRING
\************************************/

#hiring {
	.col-12 {
		padding: 0;
	}
}


/************************************\
			   FORM 1
\************************************/

#top-form-wrap {
	@include breakpoint($laptop) {
		@include position(absolute, 9.5rem 0 null 0);
	}
	@include breakpoint(1550px) {
		@include position(absolute, 25.5rem 0 null 0);
	}
	@include breakpoint(1700px) {
		@include position(absolute, 34.5rem 0 null 0);
	}
}


/************************************\
			  BENEFITS
\************************************/

#benefits {
	@include breakpoint($laptop) {
		background-color: $grey-1;
		@include padding(4.0625rem 0);
		p {
			&:first-of-type {
				@include span(7.75);
				@include push(2.125);
				margin-bottom: $text-spacing-sml;
			}
		}
	}
	.icon-wrap {
		@include span(12);
		margin-top: 2rem;
		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			color: $grey-4;
			margin-bottom: 0.85rem;
			@include span(12);
			min-height: 50px;
			&:last-child {
				margin-bottom: 0;
			}
			@include breakpoint($mobile-lg) {
				@include span(6);
				margin-bottom: 1rem;
				&:nth-child(2n) {
					@include last;
				}
			}
			@include breakpoint($laptop) {
				@include span(4);
				margin-bottom: $box-spacing-md;
				&:nth-child(2n) {
					float: left;
					margin-right: 3.44828%; /*Reset nth selector*/
				}
				&:nth-child(3n) {
					@include last;
				}
			}

			img {
				@include margin(0);
				@include size(48px 48px);
				@include breakpoint($laptop) {
					@include size(58px 58px);
				}
			}
			p {
				display: inline-block;
				float: left;
				width: auto;
				@include padding(0 0 0 0.85rem);
				margin: 0;
				line-height: 1.2;
				color: $grey-4;
				font-weight: $font-light;
				font-size: 1rem;
				@include breakpoint($laptop) {
					font-size: 1.25rem;
				}
			}
		}
	}
}


/************************************\
		   	  WHO WE ARE
\************************************/

#diversity {
	.col-6 {
		&:first-of-type {
			background-image: url('../media/img/img_diversity_480.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			padding-bottom: 80%;
			@include breakpoint($tablet) {
				background-image: url('../media/img/img_diversity_768.jpg');
				padding-bottom: 60%;
				background-position-y: 20%;
			}
			@include breakpoint($laptop) {
				background-image: url('../media/img/img_diversity_480.jpg');
				padding-bottom: 40%;
			}
			@include breakpoint($desktop-xl) {
				background-image: url('../media/img/img_diversity_768.jpg');
			}
		}
	}
}


/************************************\
		   	  WHO WE ARE
\************************************/

#about {
	padding-bottom: 0;
	@include breakpoint($laptop) {
		padding-bottom: $box-spacing-md;
	}
	.col-6 {

	}
	.video-container {
		@include position(relative);
		margin-top: 2.5rem;
		margin-bottom: 0;
		@include padding(30px 0 56.25% 0);
		@include size(auto 0);
		overflow: hidden;
		@include breakpoint($tablet) {
			margin-bottom: $box-spacing-lg;
		}
		@include breakpoint($laptop) {
			margin: 0;
			margin-top: $box-spacing-md;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: $box-spacing-md;
		}
		iframe, .video-container object, .video-container embed {
			@include position(absolute, 0 null null 0);
			@include size(100% 100%);
			background-color: $grey-3;
			background-image: url("../media/img/icon_play.svg");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: auto 35%;
		}
	}
}


/************************************\
			   FOOTER
\************************************/

#footer {
	background-color: $grey-1;
	@include padding($box-spacing-sml 0);
	.wrap {
		text-align: center;
	}
	p {
		color: $grey-2;
		text-align: left;
		font-size: $footer-font;
		max-width: 640px;
		margin: 0 auto;
		margin-bottom: $text-spacing-md;
	}
	a {
		clear: both;
		text-align: center;
		font-size: $footer-font;
		color: $grey-2;
		&:hover {
			color: $white;
		}
	}
}

.bleed-x {
	@include bleed-x(6% 6%);
	@include breakpoint($tablet) {
		@include bleed-x(1rem 1rem);
	}
	@include breakpoint($laptop) {
		@include bleed-x(0 0);
	}
}


// /************************************\
// 			  THANK YOU
// \************************************/

#thank-you {
	.header {
		margin-top: $box-spacing-md;
		margin-bottom: $box-spacing-md;
		height: 100%;
		@include breakpoint($laptop) {
			margin-top: $box-spacing-lg;
		}
		.logo {
			width: 225px;
		}
	}
	a {
		color: $red;
		&:hover {
			color: $grey-4;
		}
	}
}

.fixed-footer {
	@include position(absolute, null null 0 null);
}