/************************************\
			   BASE
\************************************/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

//Susy Maps
$susy: (
	columns: 12,
	gutters: 2/3,
	math: fluid,
	gutter-position: after,
	debug: (
		image: show,
		color: rgba(0,0,0, 0.25),
		output: overlay,
		toggle: top right,
	),
);

html {
	min-width: 320px;
	font-size: $font-size-default;
}

body {
	@include position(relative);
	float: left;
	color: $grey-3;
	font-family: $font-family-1;
	font-weight: $font-light;
	background-color: $white;
	overflow-x: hidden;
	width: 100%;
}

section {
	@include position(relative);
	float: left;
	width: 100%;
	@include padding($-box-spacing-md 0);
	@include breakpoint($mobile-md) {
		@include padding(3rem 0)
	}
	@include breakpoint($laptop) {
		@include padding(3rem 0)
	}
}

.sidebar {
	position: relative;
	float: left;
	@include padding(1rem 0 1.5rem 0);
	margin-bottom: 0;
	@include bleed-x(6% 6%);
	@include breakpoint($laptop) {
		@include padding(1rem 1.25rem 1.5rem 1.25rem);
		margin-bottom: 1.5rem;
		width: 355px;
		@include last;
		border-radius: 1.75rem 0 1.75rem 0;
	}
	@include breakpoint(1140px) {
		margin-right: 4.5rem;
	}
	@include breakpoint(1200px) {
		margin-right: 0rem;
	}
	@include breakpoint($desktop) {
		margin-right: 0rem;
	}
}

footer {
	@include position(relative);
	width: 100%;
	float: left;
}

/************************************\
			   HEADER
\************************************/

.header {
	position: relative;
	overflow: hidden;
	transition: 0.3s all;
	z-index: 500;
	@include breakpoint($laptop) {
		@include position(absolute, 0 0 null 0);
	}
	#header-logo {
		@include size(100% 4.3125rem);
		@include margin(2.1875rem auto 1.625rem auto);
		@include breakpoint($laptop) {
			@include size(175px auto);
		}
	}
}


/************************************\
			 HERO CONTENT
\************************************/

#hero-home {
	@include padding(0);
	background-image: url('../media/img/hero_bg_480.jpg');
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: cover;
	border-bottom: 0.3125rem solid $yellow;
	@include breakpoint($mobile-lg) {
		background-image: url('../media/img/hero_bg_768.jpg');
	}

	@include breakpoint($laptop) {
		background-image: url('../media/img/hero_bg_1300.jpg');
	}
	@include breakpoint($laptop) {
		background-position: left top;
		background-size: cover;
	}
	@include breakpoint(1700px) {
		background-image: url('../media/img/hero_bg_1720.jpg');
	}
}

.hero {
	position: relative;
	@include margin(16.375rem 0 1.1875rem 0);
	text-align: center;
	@include breakpoint($mobile-lg) {
		margin-top: 18.5rem;
	}
	@include breakpoint($tablet) {
		margin-top: 22.5rem;
	}
	@include breakpoint(920px) {
		@include margin(22.5rem 0 2rem 0);
	}
	@include breakpoint($laptop) {
		margin-top: 19rem;
		h1 {
			text-align: left;
		}
	}
	@include breakpoint($desktop) {
		@include margin(22.5rem 0 2rem 0);
	}
	@include breakpoint(1550px) {
		margin-top: 38rem;
	}
	@include breakpoint(1700px) {
		margin-top: 46rem;
	}

}

/************************************\
			   HIRING
\************************************/

#hiring {
	padding-bottom: 0;
	.intro-txt {
		h2 {
			text-align: left;
		}
	}
	.content-2-3 {
		@include breakpoint($laptop) {
			@include span(7.75);
		}
		@include breakpoint($desktop) {
			@include span(7.25);
		}
		h3 {
			font-size: 1.65rem;
		}
	}
	.jobs {
		padding-top: 1.75rem;
		padding-bottom: 1.75rem;
		box-shadow: 0rem 0.125rem 0.15rem 0rem rgba(0,0,0,0.2);
		@include bleed-x(6% 6%);
		background-color: $grey-1;
		@include breakpoint($mobile-lg) {
			box-shadow: none;
			display: flex;
			flex-direction: row;
			padding-right: 0;
		}
		@include breakpoint($laptop) {
		@include bleed-x(9999px 9999px);
		margin-right: 0;
		padding-right: 0;
		}
		.content-1-2 {
			@include breakpoint($mobile-lg) {
				@include span(6);
			}
			&:last-child {
				@include breakpoint($mobile-lg) {
					@include bleed-y(1.75rem 1.75rem);
					background-image: url('../media/img/img_van_580.jpg');
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					margin-right: 0;
				}
				@include breakpoint($laptop) {
					@include bleed-y(1.75rem 1.75rem);
					@include last;
				}
			}
		}
		.position-list {
			.position {
				p {
					margin-bottom: 0;
				}
				&:before {
					content: '';
					width: 0.925rem;
					height: 0.925rem;
					float: left;
					margin-top: 0.27rem;
					margin-right: 0.7rem;
					background-image: url('../media/img/icon_yellow_bullet.svg');
					background-repeat: no-repeat;
				}
				.requirements-list {
					list-style-type: disc;
					padding-left: 2.75rem;
					.requirement {
						margin-bottom: 0.25rem;
						&:last-of-type {
							margin-bottom: 0.85rem;
						}
					}
				}
			}
		}
	}
}


/************************************\
			   FORM 1
\************************************/

#top-form-wrap {
	@include breakpoint($laptop) {
		@include position(absolute, 9.5rem 0 null 0);
	}
	@include breakpoint(1550px) {
		@include position(absolute, 25.5rem 0 null 0);
	}
	@include breakpoint(1700px) {
		@include position(absolute, 34.5rem 0 null 0);
	}
}


#collapse1 {
	.col-12 {
		
	}
}

/************************************\
			  BENEFITS
\************************************/

#benefits {
	@include breakpoint($laptop) {
		box-shadow: 0rem -0.125rem 0.15rem 0rem rgba(0,0,0,0.2);
		background-color: #fcfcfc;
		@include padding(4.0625rem 0);
	}
	.content {
		&:first-child {
			.headline {
				.accent {
					@include breakpoint($laptop) {
						@include span(2);
					}
				}
				h2 {
					font-weight: $font-light;
					color: $white;
					padding-bottom: 0;
				}
			}
			p {
				color: $white;
				margin-top: 1rem;
			}
			@include breakpoint($laptop) {
				@include span(5);
				@include last;
				border-left: 1px solid $white;
				padding-left: 2.8%;
			}
		}
		&:nth-child(2) {
			clear: both;
		}
	}
	.icon-wrap {
		@include span(12);
		margin-top: 2rem;
		li {
			position: relative;
			color: $grey-4;
			margin-bottom: 2em;
			@include span(6);
			min-height: 50px;
			&:nth-child(2n) {
				@include last;
			}
			&:last-child {
				margin-bottom: 0;
			}
			@include breakpoint($tablet) {
				@include span(3);
			}
			img {
				@include margin(0);
				@include span(8 nest);
				@include push(2);
				height: 104px;
			}
			p {
				display: inline-block;
			    position: absolute;
			    top: 66%;
			    left: 0%;
			    width: 100%;
				text-align: center;
				@include padding(0 0.25rem);
				margin: 0;
				color: $grey-4;
				font-weight: $font-light;
				font-size: 1rem;
				line-height: 1.2;
				@include breakpoint($mobile-md) {
					font-size: 1.125rem;
				}
			}
		}
	}
}


/************************************\
		   DAY IN THE LIFE
\************************************/

#day {
	background-color: $blue-1;
	border-bottom: 5px solid $yellow;
	.content-narrow-center {
		h2 {
			text-align: left;
			color: $yellow;
			margin-bottom: 0.25rem;
			@include breakpoint($laptop) {
				text-align: center;
			}
		}
		p {
			color: $white;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		h6 {
			color: $white;
			font-weight: $font-black;
			em {
				font-weight: $font-light;
			}
		}
	}
	.video-container {
		@include position(relative);
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		@include padding(30px 0 56.25% 0);
		@include size(auto 0);
		overflow: hidden;
		iframe, .video-container object, .video-container embed {
			@include position(absolute, 0 null null 0);
			@include size(100% 100%);
			background-color: $grey-3;
			background-image: url("../media/img/icon_play.svg");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: auto 35%;
		}
	}
}


/************************************\
			   FOOTER
\************************************/

#footer {
	background-color: $grey-2;
	@include padding($-box-spacing-md 30);
	text-align: end;
	a {
		font-weight: $font-bold;
		font-size: 44px;
		color: $white;
	}
}



// /************************************\
// 			  THANK YOU
// \************************************/

// #thank-you {
// 	padding: 30;
// 	min-height: 670px;
// 	height: 130vh;
// 	.wrap {
// 		@include breakpoint($laptop) {
// 			@include container(130%);
// 			margin-left: auto;
// 			margin-right: auto;
// 		}
// 	}
// 	.content {
// 		&:first-child {
// 			background-color: $blue-31;
// 		}
// 		width:142%;
// 		@include breakpoint($tablet) {
// 			@include bleed-x(36% 6%);
// 		}
// 	}
// 	.header {
// 		border-bottom: none;
// 	}
// 	.logo {
// 		@include span(36);
// 		@include push(33);
// 		margin-top: 32rem;
// 		margin-bottom: 32rem;
// 		@include breakpoint($tablet) {
// 			@include span(38);
// 			@include push(32);
// 		}
// 	}
// 	.intro-txt {
// 		@include span(42);
// 		padding-top: 32.5rem;
// 		@include breakpoint($tablet) {
// 			width: 80%;
// 			margin-left: 55%;
// 			margin-right: 55%;
// 		}
// 		@include breakpoint($desktop) {
// 			width: 65%;
// 			margin-left: 62.5%;
// 			margin-right: 62.5%;
// 		}
// 		p {
// 			margin-bottom: 31rem;
// 			display: inline-block;
// 			color: white;
// 			&:last-child {
// 				padding-bottom: 32.5rem;
// 			}
// 			span {
// 				font-size: 31.5rem;
// 				color: $blue-32;
// 				font-weight: $font-bold;
// 				padding-right: 30.3rem;
// 			}
// 		}
// 	}
// 	.body-txt {
// 		@include span(42);
// 		text-align: center;
// 		margin-top: 32rem;
// 		@include breakpoint($tablet) {
// 			width: 80%;
// 			margin-left: 55%;
// 			margin-right: 55%;
// 		}
// 		@include breakpoint($desktop) {
// 			width: 65%;
// 			margin-left: 62.5%;
// 			margin-right: 62.5%;
// 		}
// 	}
// }

// #thank-you-footer {
// 	text-align: center;
// 	background-color: $grey-3;
// 	@include position(absolute, null 0 0 0);
// 	p {
// 		float: none;
// 		color: $white;
// 		display: inline-block;
// 		text-align: center;
// 		font-size: 14px;
// 		@include padding(0.25rem 0);
// 	}
// 	a {
// 		text-transform: uppercase;
// 		color: $white;
// 	}
// }