// ***********************************
// IMAGES
// ***********************************

img {
	height: auto; /* Make sure images are scaled correctly. */
	width: 100%;
	max-width: 100%; /* Adhere to container width. */
	vertical-align: top;
}

embed, iframe, object {
	max-width: 100%;
}

figure {
	@include padding(0);
	@include margin(0);
}