// VARIABLES

// LAYOUT

$sml-container	: 90%;
$md-container	: 736px;
$lg-container 	: 960px;
$xl-container	: 1140px;


// GENERAL BREAKPOINTS

$mobile-md 		: 480px;
$mobile-lg		: 640px;
$tablet			: 768px;
$laptop			: 1024px;
$desktop		: 1440px;
$desktop-xl		: 1920px;

// LINE HEIGHT

$line-height-sml	: 1.25;
$line-height-md		: 1.5;
$line-height-lg		: 1.75;

// TEXT SPACING
$text-spacing-sml 	: 1rem;
$text-spacing-md	: 2rem;
$text-spacing-lg	: 3rem;

// BOX SPACING
$box-spacing-form	: 1rem;
$box-spacing-sml 	: 1.5rem;
$box-spacing-md		: 3rem;
$box-spacing-lg		: 4.5rem;

// FONT FAMILY
$font-family-1: Arial, sans-serif;

// FONT WEIGHT

$font-light		: 300;
$font-semi-bold : 600;
$font-bold		: 700;
$font-black		: 900;

// FONT STYLE

$font-italic: italic;

// TYPOGRAPHY

$h1	: 1.5rem;
$h2	: 2.25rem;
$h3	: 2.2rem;
$h4	: 1.9rem;
$h5	: 1.4rem;
$h6	: 1.3rem;
$p	: 1rem;

$footer-font: 0.9375rem;

// TYPOGRAPHY DESKTOP
// $h1-mobile-md	: 2.7087rem;
$h2-desktop	: 2.25rem;
// $h3-mobile-md	: 1.4rem;
// $h4-mobile-md	: 1.75rem;
// $h5-mobile-md	: 2rem;
// $h6-mobile-md	: 1.4375rem;
$p-desktop	: 1.125rem;


// FORM TYPOGRAPHY
$form-title 		: $h3;
$form-instruction	: 1rem;
$input				: 1rem;
$label				: 1rem;
$upload				: 1rem;
$submit				: 1.15rem;


// COLORS
$white		: #FFFFFF;
$blue-1 	: #026cb6;
$blue-2		: #015289;

$black-1	: #333333;
$black-3	: #282E33;

$grey-1		: #e8e8e8;
$grey-2		: #6d6e70;
$grey-3 	: #6b6a65;
$grey-4 	: #565458;
$grey-5 	: #48494e;
$green-1	: #AAD75D;
$green-3	: #56BAB7;
$green-5	: #24646D;
$yellow 	: #fdbb30;
$red 		: #ed1b2e;


// ALPHA COLORS
$alpha-black-3	: rgba(0,0,0,0.6);
$alpha-black-4	: rgba(0,0,0,0.8);
$alpha-white-2	: rgba(255,255,255,0.35);


// LINKS
$link_color	: $red;
$link_hover	: $grey-2;