#accordion-wrap {
    @include breakpoint($laptop) {
        display: none;
    }
}
 
/* --------- COLLAPSIBLE PANELS ----------*/
 
.expandable-panel {
    width:100%;
    position:relative;
    min-height: 45px;
    overflow: auto;
    margin-bottom: 0px;
    border-bottom: 2px solid white;
}
.expandable-panel-heading {
    @include size(100% 45px);
    cursor:pointer;
    clear:both;
    background-color: red;
    position:relative;
}
.expandable-panel-heading {

}
.expandable-panel-heading {
    h6 {
        margin-bottom: 0;
        @include padding(0.5rem 0.75rem);
        color:$white;
    }
}
.expandable-panel-content {
    padding: 0;
    margin-top: -999px;
}
.expandable-panel-content p {
    // padding:4px 0 6px 0;
}
.expandable-panel-content p:first-child  {
    // padding-top:10px;
}
.expandable-panel-content p:last-child {
    // padding-bottom:15px;
}
.icon-close-open {
    @include size(20px 20px);
    @include position(absolute, null 1rem null null);
    background-image:url("../media/img/icon-close-open.png");
}
.expandable-panel-content img {
    
}
.header-active {
    background-color: $grey-4;
}