.form-intro {
	h5 {
		font-size: 1.4rem;
		margin-top: 0;
		margin-bottom: 1rem;
		color: $red;
	}
	p {
		font-size: 0.9375rem;
		line-height: 1.2rem;
		margin-bottom: 0.5rem;
	}
}

#form-1-container {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: $grey-1;
	float: left;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	box-shadow: 0rem 0rem 0.3125rem 0rem rgba(0,0,0,0.25);
	@include breakpoint($laptop) {
		border-radius: 0.3125rem;
		@include padding(1.5rem 1.24rem);
		margin: 0;
	}
	.terms {
		text-align: center;
		font-size: 0.8125rem;
		margin-top: 0.5rem;
		line-height: 1.5;
		a {
			font-size: 0.8125rem;
			color: $red;
			&:hover {
				color: $white;
			}
		}
	}
	em {
		font-weight: $font-light;
	}
}

input {
	font-size: $input;
	color: $grey-4;
}
.form-control {
	width: 100%;
	@include padding(0rem 0.5rem);
	background-color: $white;
	color: $grey-5 !important;
	font-size: $input;
	border-radius: 3px;
	margin-bottom: 1rem;
	border-color: transparent;
	box-shadow: none;
}
.btn-group, .bootstrap-select {
	width: 100% !important;
	margin-bottom: 1rem;
}
.btn-info {
	background-color: $white;
	color: $grey-5;
	border: 1px solid transparent;
	&:hover {
		background-color: $red;
		border: 1px solid transparent;
		color: $white;
	}
	&:focus {
		background-color: $red;
		border-color: transparent;
		color: $white;
	}
}
.btn {
	border-radius: 3px;
	font-size: 1rem;
}
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info,
.open > .dropdown-toggle.btn-info.focus {
	color: $white;
	background-color: $red;
	border-color: transparent;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	transition: none;
	&:hover {
		background-color: $red;
		color: $white;
		transition: none;
	}
	&:focus {
		outline: none;
	}
}

.dropdown-menu.open {
	padding: 0;
}

.caret {
    border-top: 6px dashed;
    border-top: 6px solid \9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.fileinput.input-group input[type=file] {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 100px;
	height: 100px;
	filter: alpha(opacity=0);
	opacity: 0;
	background-color: $red;
	cursor: pointer;
}
.fileinput.input-group .btn-file,
.fileinput .input-group .btn-file {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 3px 0px 0px 3px;
	border-color: transparent;
	background-color: $grey-4;
	color: #fff;
	font-weight: $font-bold;
	transition: all 0.1s;
}
.fileinput.input-group .btn-file:hover {
	border-color: transparent;
	background-color: $red;
	color: #fff;
	transition: all 0.1s;
}
.fileinput.input-group .btn-file.btn-xs,
.fileinput .input-group .btn-file.btn-xs,
.fileinput.input-group .btn-file.btn-sm,
.fileinput .input-group .btn-file.btn-sm {
  border-radius: 3px;
}
.fileinput.input-group .btn-file.btn-lg,
.fileinput .input-group .btn-file.btn-lg {
  border-radius: 3px;
}
.fileinput .form-control {
	cursor: pointer;
	overflow: hidden;
}

.submit-btn {
	background-color: $red;
	border: 1px solid transparent;
	border-radius: 3px;
	width: 100%;
	font-family: inherit;
	color: $white;
	font-size: $submit;
	font-weight: $font-black;
	@include padding(0.75rem 0.5rem 0.55rem 0.5rem);
	transition: all 0.2s;
	margin-top: 1rem;
	&:hover {
		@include breakpoint($laptop) {
			background-color: $grey-4;
			transition: all 0.2s;
		}
	}
}

label {
	color: $grey-4;
	font-size: $label;
	font-weight: $font-bold;
	width: 100%;
	margin-top: 0.25rem;
}

textarea {
	border: 1px solid transparent;
	border-radius: 3px;
	width: 100%;
}

.radio {
	display: inline-block;
	&:last-of-type {
		margin-left: 0.85rem !important;
	}
}

#position-questions {
	margin: 0;
}